<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no" />
		<title>模拟</title>
		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/common.css">
		<script src="static/vue/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<nav>模拟器</nav>
			<!-- <div id="hero-selector" class="flexbox">
				<div class="gf-area grow-1">
					<center>攻方</center>
					<select>
						<option v-for="i in its" value="">{{i.name}}</option>

					</select>
				</div>
				<div class="sf-area grow-1">
					<center>守方</center>
					<select>
						<option v-for="i in its" value="">{{i.name}}</option>
					</select>
				</div>
			</div> -->
			<div class="flexbox">
				<div class="gf-area grow-1">
					<center>攻方</center>
					<span>bl</span><input v-model="gfsx.bl" placeholder="0" />
					<span>gj</span><input v-model="gfsx.gj" placeholder="0" />
					<span>fy</span><input v-model="gfsx.fy" placeholder="0" />
					<span>ml</span><input v-model="gfsx.ml" placeholder="0" />
					<span>sd</span><input v-model="gfsx.sd" placeholder="0" />
				</div>
				<div class="sf-area grow-1">
					<center>守方</center>
					<span>bl</span><input v-model="sfsx.bl" placeholder="0" />
					<span>gj</span><input v-model="sfsx.gj" placeholder="0" />
					<span>fy</span><input v-model="sfsx.gj" placeholder="0" />
					<span>ml</span><input v-model="sfsx.gj" placeholder="0" />
					<span>sd</span><input v-model="sfsx.gj" placeholder="0" />
				</div>
			</div>
			<div>
				<button v-on:click="calc">start</button>
			</div>
			<div>
				<span>{{zdjg.sh}}</span>
			</div>
		</div>
	</body>
	<script src="js/logic.js"></script>
</html>
